.timer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FAFAFA;
  .timer-counter {
    height: 25px;
    margin: 0 0 20px;
  }
  .timer-status {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
  }
  &.timer-pomodoro {
    background: linear-gradient(90deg, #F78CA0 0%, #F9748F 20.31%, #FD868C 66.67%, #FE9A8B 100%);
  }
  &.timer-short {
    background: linear-gradient(180deg, #48C6EF 0%, #6F86D6 100%);
  }
  .timer {
    margin: 0 0 50px;
    .timer-item {
      font-size: 60px;
      text-align: center; 
    }    
  }
}